<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="css/app.min.css" rel="stylesheet" type="text/css" >
		<link href="css/style.min.css" rel="stylesheet" type="text/css" >
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<title>API randomuser.me</title>
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
				</div>
			</div>
		</header>